<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<%= link_to  new_post_path do %>
<div class="newpost-button">New Post</div>
<% end %>

<% @posts.each do |post| %>

<div class="row">
    <div class="col s12 m7">
        <div class="card">
            <div class="card-image">
                <p> <%= post.user.email if post.user %> </P>
                <%= image_tag post.image, style: "width: 100%; height: auto; padding: 5px;" %>
            </div>
            <span class="card-title">
                <%= post.description %>
            </span>

            <div class="card-action">
                <p>
                    <a href="#"><%= link_to "upvote", like_post_path(post), method: :put %></a>
                    <%= post.votes_for.size %>
                    <% if current_user.liked? post%>
                       <div class="heart">
                       </div>
                     <% else %>
                     <div class="no-heart">
                     </div>
                   <%end%></p>

            </div>

            Liked by:
            <% post.votes_for.voters.each do |voter| %>
            <%= "#{voter.email},  "%>
              <%end%>

        </div>

        <p>
          <%= link_to post do %>
          <div class="edit-button">
            View
          </div>
          <% end %>

            <%= link_to edit_post_path(post) do %>
            <div class="edit-button">
              Edit
          </div>
          <% end %>

            <%= link_to post, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <div class="edit-button">
              Delete
          </div>
          <% end %>
    </p>
</div>
</div>

<% end %>
</body>

<br>

<% link_to new_post_path do %>
<div class="newpost-button">New Post</div>
<% end %>

<p></p>
