<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<%= link_to 'New Post', new_post_path %>



    <% @posts.each do |post| %>
        <p><%= post.user.email %></p>
        <%= image_tag post.image, style: "width: 500px; height: auto;" %>

        <p><%= link_to "upvote", like_post_path(post), method: :put %>
        <%= post.votes_for.size %></p>
        <p>Liked by:  
        <% post.votes_for.voters.each do |voter| %>
        <%= "#{voter.email},  "%>
        <%end%>


        <p><%= link_to 'Show', post %>
        <%= link_to 'Edit', edit_post_path(post) %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </p>
    <% end %>
  </body>


<br>

<%= link_to 'New Post', new_post_path %>
