<!DOCTYPE html>
<html>
  <head>
    <title>Instaclone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'partials/nav' %>

    <div class="container">
      <!-- Login notice alerts -->
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <!-- pulls html data from other html files -->
      <%= yield %>
    </div>

  </body>
</html>
